@{
    ViewBag.Title = "About";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About US</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Online car rental system</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== About Page Content Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Online car rental system.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>Rental online car system is a project made with ASP.NET MVC that permit to rent a car ( users ) and manage ( Admin ) cars .it will help peaople in their daily activities . its Open source .</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->
            <!-- About Video Start -->
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="~/Content/images/home-2-about.png" alt="JSOFT">
                </div>
            </div>
            <!-- About Video End -->
        </div>

        <!-- About Fretutes Start -->
        <div class="about-feature-area">
            <div class="row">
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item active">
                        <i class="fa fa-car"></i>
                        <h3>Users</h3>
                        <p>Users will be able to rent a car , check the availibility of a car , receive news letters </p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>Admin</h3>
                        <p>Admin will be able to Manage all car . C.R.U.D operations , block users , warn users , lock accounts ...</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>Users &amp; Admin </h3>
                        <p>Both parties will be able to communicate each other by a message system </p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
            </div>
        </div>
        <!-- About Fretutes End -->
    </div>
</section>
<!--== About Page Content End ==-->
<!--== Our Facility Content Start ==-->
<section id="our-facility" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>Reservation System</h3>
                    <ul>
                        <li>Book Car</li>
                        <li>Chek list of Cars</li>
                        <li>Edit booking</li>
                        <li>Choose Car</li>
                        <li>Customize choice</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>Rental Car</h3>
                    <ul>
                        <li>Rent Car</li>
                        <li>Check availability</li>
                        <li>Responsive</li>
                        <li>Flexible</li>
                        <li>Make Reservation</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>User Panel</h3>
                    <ul>
                        <li>User Dashboard</li>
                        <li>Check list of car reserved</li>
                        <li>Check dealine booked car</li>
                        <li>Check status of a car</li>
                        <li>Customize account</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
            <!-- Single Facility Start -->
            <div class="col-lg-3 col-md-6">
                <div class="single-our-facility">
                    <h3>Admin Panel</h3>
                    <ul>
                        <li>C.R.U.D car</li>
                        <li>Customize Car </li>
                        <li>Acount Management</li>
                        <li>Car Management</li>
                        <li>Customize User role</li>
                    </ul>
                </div>
            </div>
            <!-- Single Facility Start -->
        </div>
    </div>
</section>
<!--== Our Facility Content End ==-->
<!--== Partner Area Start ==-->
<div id="partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner-content-wrap">
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/images/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/images/partner-logo-2.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/images/partner-logo-3.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/images/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/images/partner-logo-5.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/images/partner-logo-6.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/images/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Partner Area End ==-->
<!--== Testimonials Area Start ==-->
<section id="testimonial-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Testimonials</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>What our clients say.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-12 m-auto">
                <div class="testimonial-content">
                    <!--== Single Testimoial Start ==-->
                    <div class="single-testimonial">
                        <p>Congratulations on your recent project. You are a great example to the rest of the faculty.</p>
                        <h3>Lalla Keita</h3>
                        <div class="client-logo">
                            <img src="~/Content/images/abt1.jpeg" alt="JSOFT">
                        </div>
                    </div>
                    <!--== Single Testimoial End ==-->
                    <!--== Single Testimoial Start ==-->
                    <div class="single-testimonial">
                        <p>I saw your project about car rental  in last month's issue of Engineering News, and wanted to tell you how much I enjoyed it. so I pleasantly surprised when I saw your name on that excellent piece.</p>
                        <h3>Mariam Bagayoko</h3>
                        <div class="client-logo">
                            <img src="~/Content/images/abt2.jpeg" alt="JSOFT">
                        </div>
                    </div>
                    <!--== Single Testimoial End ==-->
                    <!--== Single Testimoial Start ==-->
                    <div class="single-testimonial">
                        <p>Good App, Good interface , easy and flexible to rent a car quickly </p>
                        <h3>Tiguidanke Berete </h3>
                        <div class="client-logo">
                            <img src="~/Content/images/abt3.jpeg" alt="JSOFT">
                        </div>
                    </div>
                    <!--== Single Testimoial End ==-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Testimonials Area End ==-->
