
@{
    ViewBag.Title = "DisplayEmail";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<h2>Display Email</h2>

<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Online car rental system</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p> An email has been sent to your email adress . please go there to confirm your account</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>


